*{
	box-sizing: border-box;
	font-size: 16px;
}
h1{
    text-align: center;
    font-size: 175%;
    font-weight: bold;
}
 #row-item1{
 	background-color: #008080;
 	height: 190px;
    border: 1px solid black;
    overflow: hidden;
 }
 #row-item1 h1{
 	background-color: #FAFAD2;
 	text-align: right;
    float: right;
    text-decoration: none;
 }
 #row-item1 p{
 	clear: right;
 }
 #row-item2 {
 	background-color: #808080;
 	height: 190px;
    border: 1px solid black;
 }
 #row-item2 h1{
 	background-color: #EEE8AA;
 	float: right;
 }
 #row-item2 p{
 	float: right;
    text-decoration: none;
 }
 #row-item3{
 	background-color: #E6E6FA;
 	height: 190px;
    border: 1px solid black;
 }
 #row-item3 h1{
 	background-color: #FFD700;
 	float: right;
    text-decoration: none;
 }
 #row-item3 p{
 	float: right;
 }
 @media (min-width: 992px){
 	#row-item div{
 		float: left;
 		width: 32%;
 		margin-right: 10px;
 	}
 }
 @media (min-width: 768px) and (max-width: 991px){
     #row-item1 {
 		float: left;
 		width: 47%;
 		margin: 4px 4px 4px 4px;
 	}
 	#row-item2{
        float: left;
        width: 47%;
        margin: 4px 4px 4px 4px;
    }
    #row-item3{
        float: left;
        width: 95%;
        margin: 4px 4px 4px 4px;
    }
 }
 @media (max-width: 767px){
 	#row-item div{
 		float: left;
 		width: 98%;
 		margin: 10px 10px 10px 10px;
 	}
 }